.#{$groundwork-class-column} {
    box-sizing: border-box;
    min-height: 1px;
    padding: {
        left: ($groundwork-gutter-width/2);
        right: ($groundwork-gutter-width/2);
    }
}

@each $size, $breakpoint in $groundwork-breakpoints {
    @media (min-width: $breakpoint) {

        $selector: '';

        @for $i from 1 through $groundwork-columns {
            $selector: "#{$selector}" + ".#{$groundwork-class-column}--#{$size}-#{$i}, ";
        }

        #{$selector} {
            float: left;
        }

        .#{$groundwork-class-column}--#{$size}-right {
            float: right !important;
        }

        @for $i from 1 through $groundwork-columns {
            .#{$groundwork-class-column}--#{$size}-#{$i} {
                width: percentage(($i/$groundwork-columns));
            }
        }
    }
}
