.#{$groundwork-class-row} {
    margin: {
        left: ($groundwork-gutter-width/2) * -1;
        right: ($groundwork-gutter-width/2) * -1;
    }

    &:after { content: ''; clear: both; display: block; }
}
